.App-header {
  background-color: #020079;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: calc(10px + 5vmin);
  color: white;
}

#blog {
  background-color: white;
  width: 80vw;
  margin: auto;
  color: black;
  word-wrap: break-word;
  border-radius: 30px;
  font-size: large;
  padding: 10px;
  margin-bottom: 30px;
  text-align: justify;
}

#add {
  color: #020079;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 20px;
  font-size: 30px;
}

.child {
  max-height: 180px;
  overflow: hidden;
  border-color: black;
}

#form {
  align-items: center;
  justify-content: center;
  width: 80vw;
  color: white;
  margin: auto;
}

#iblog {
  min-height: 100vh;
  background-color: #020079;
  padding: 50px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  textarea {
    height: 200px;
  }
}

#title {
  border-radius: 20px;
}

#text {
  border-radius: 20px;
  padding: 5px;
}